<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Stupid Coaching</h1>
  <div class='your-question'>
    <p><%= @answer %></p>
    <p>-You</p>
  </div>
  <div class='coach-answer'>
    <p><strong><%= @coach_answer %></strong></p>
    <p> -Your coach</p>
  </div>
  <div>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</body>
</html>